@model List<UTT.Models.ShowMore>


<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayMoreUTT</title>
</head>
    <body >
        <div class="body">
            <div class="centered">
            @{ int count =0;}
            @foreach(var item in Model)
            {   count++;
                 
                if(count==1)
                {
                <h1 style="color:white">More Information about<br /> Ticket #@item.TicketNumber <br />for passenger @item.TravelerName </h1>
            }
            }
            </div>
            <div class="float-left">
               
                 <table border="1" >
                @foreach (var tix in Model)
                        {     <tr>
                        <th scope="row">Name Statement Info</th>
                        <td>@tix.DepartmentCode</td>
                        </tr>
                    <tr>
                        <th scope="row">Record Locator</th>
                       <td>@tix.RecordLocator</td>
                    </tr>
                    <tr>
                        <th scope="row">PCC</th>
                        <td>@tix.PCC</td>

                    </tr>
                         
                    <tr>
                        <th scope="row">Customer ID</th>
                        <td>@tix.CustAccNum</td>

                    </tr>
                    <tr>   
                        <th scope="row">Issue Date</th>
                        <td>@tix.IssueDate</td>
                    </tr>
                    <tr>
                        <th scope="row">Expiration Date</th>
                        <td>@tix.ExpirationDate</td>
                    </tr>
                    <tr>
                        <th scope="row">Airline</th>
                        <td>@tix.Airline</td>
                    </tr>
                    <tr>
                        <th scope="row">Total Air Fare Value</th>
                        <td>@tix.TotalAirFairValue</td>
                    </tr>
                       <tr>
                        <th scope="row">Ticket Status</th>
                        <td>@tix.ticketStatus</td>
                       </tr>
                    <tr>
                        <th scope="row">Refundable Status</th>
                        <td>@tix.refundableStat</td>
                     </tr>   
                    <tr>
                        <th scope="row">Fare Basis Code</th>
                        <td>@tix.FareBasisCode</td>
                    </tr>
                    <tr>
                        <th scope="row">ProfLvl2(PAR)</th>
                        <td>@tix.PAR</td>
                    </tr>
                    <tr>    
                        <th scope="row">ProfLvl1(BAR)</th>
                        <td>@tix.BAR</td>
                     </tr>
                    <tr>
                        <th scope="row">City Pairs</th>
                        <td>@tix.CityPairs</td>
                     </tr>
                       

                    
                   
                        
                         
                             
                          
                        }
                    
                </table>
            </div> 
        </div>
    </body>
</html>