@model List<UTT.Models.UTTModel>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayUTT</title>
</head>
<body >
    <div class="body" >
        <div class="centered">
            @{ int count =0;}
            @foreach(var item in Model)
            {   count++;
                 
                if(count==1)
                {
                    <h1 style="color:white">Unused Ticket Data for @item.TravelerName </h1>
                }
            }
        </div>
        <div class="float-left">
            <table border="1"  >
                <tr>
                    <th>Exp Date</th>
                    
                    <th>Carrier</th>
                   
                    <th>Value*</th>
                 
                    <th>Ticket Number</th>
                    <th>Passenger Name</th>
                     <th>Company Name</th> 
                    <th>More Info</th>
                </tr>
            @foreach (var ut in Model)
            { 
                <tr>
                    
            <td>@ut.ExpirationDate</td>
            
             <td>@ut.Airline</td>
            
                <td>@ut.Value</td>   
           @using(Html.BeginForm("DisplayMore","Home",FormMethod.Post)){
                    <td>@ut.TicketNumber <input type="text" style="visibility:hidden;" name="ticketnum" value="@ut.TicketNumber" /> </td>
                 <td>@ut.TravelerName</td>
                    <td>@ut.ClientName</td>
                    <td>
                        
                        <button type="submit" id="More">More Info</button>
                        
                    </td>}
                </tr>
            }    
                
                
                
            </table>
            <p style="color:white;">*Value does not reflect any change fees</p>
        </div>
    </div>
</body>
</html>
